.moving-bubble {
  animation-timing-function: linear;
}

@-webkit-keyframes moveBubble {
  0% {
    transform: translate(0, 0);
    opacity: 0.1;
  }
  15% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
    filter: blur(10px);
    transform: translate(var(--randomX), var(--randomY)) scale(0.1)
      rotate(var(--randomRotate));
  }
}

@keyframes moveBubble {
  0% {
    transform: translate(0, 0);
    opacity: 0.1;
  }
  15% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
    filter: blur(10px);
    transform: translate(var(--randomX), var(--randomY)) scale(0.1)
      rotate(var(--randomRotate));
  }
}
