@keyframes smooth-peek-rotation {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  20% {
    transform: rotate(-18deg);
    animation-timing-function: ease-out;
  }
  25% {
    transform: rotate(-22deg);
    animation-timing-function: ease-out;
  }
  46% {
    transform: rotate(-12deg);
    animation-timing-function: ease-out;
  }
  50% {
    transform: rotate(-8deg);
    animation-timing-function: ease-out;
  }
  52% {
    transform: rotate(8deg);
    animation-timing-function: ease-out;
  }
  53% {
    transform: rotate(-6deg);
    animation-timing-function: ease-out;
  }
  56% {
    transform: rotate(6deg);
    animation-timing-function: ease-out;
  }
  59% {
    transform: rotate(-4deg);
    animation-timing-function: ease-out;
  }
  62% {
    transform: rotate(4deg);
    animation-timing-function: ease-out;
  }
  65% {
    transform: rotate(-2deg);
    animation-timing-function: ease-out;
  }
  68% {
    transform: rotate(2deg);
    animation-timing-function: ease-out;
  }
  70% {
    transform: rotate(0deg);
    animation-timing-function: ease-out;
  }
  75% {
    transform: rotate(18deg);
    animation-timing-function: ease-out;
  }
  80% {
    transform: rotate(22deg);
    animation-timing-function: ease-out;
  }
  100% {
    transform: rotate(8deg);
    animation-timing-function: ease-out;
  }
}

@keyframes smooth-peek-move {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  50% {
    transform: translate(176px, 0px);
    opacity: 100;
    animation-timing-function: ease-out;
  }
  70% {
    transform: translate(176px, 0px);
    opacity: 100;
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
    animation-timing-function: ease-in;
  }
}

.animate-peek-move {
  animation: smooth-peek-move 4s cubic-bezier(0.68, -0.55, 0.27, 1) 1;
}

.animate-peek-rotation {
  animation: smooth-peek-rotation 4s ease 1;
}
